{% macro render_rows(rows) %}
  {% for row in rows %}
    <div class="crowd-row">
      {% for people in row %}
        {% if people[0] == 0 %}
          <span class="people plane"><span></span></span>
        {% else %}
          <a class="people"
             href="{{ people[1] | default('#') }}"
             title="{{ people[2] | default(people[0]) }}">
            <img src="/img/{{ people[0] | default('child') }}.svg"
                 alt="{{ people[0] | default('child') }}"
                 style="width:auto;height:{{ 5 + (10 * (people[3] | default(2))) }}px;" />
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endmacro %}

<div id="crowd-graph">
  <div class="crowd-body">
    {{ render_rows(userComputed.crowd.people) }}
  </div>
  
  <div class="crowd-legends">
    {% for count in userComputed.crowd.legends %}
      <div class="stat">
        <img src="/img/{{ count.icon }}.svg" alt="{{ count.label }}" />
        {{ count.count }} {{ count.label }}{% if count.count > 1 %}s{% endif %}
      </div>
    {% endfor %}
  </div>
</div>
